<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :evnt_discr %><br>
    <%= f.text_field :evnt_discr %>
  </div>
  <div class="field">
    <%= f.label :evt_date %><br>
    <%= f.datetime_select :evt_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
