

<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event %>
</p>

<p>
  <strong>Evnt discr:</strong>
  <%= @event.evnt_discr %>
</p>

<p>
  <strong>Evt date:</strong>
  <%= @event.evt_date %>
</p>
<% if signed_in? %>
	<% if current_user.attended?(@event) %>
	<%= link_to "Attent", relationship_create_path %>
	<%else %>
		<%= link_to "Unattend", relationship_destroy_path(@event) %>
	<%end %>
<%end%>
